In [1]:
import pandas as pd
import numpy as np
import sqlite3
import statsmodels.formula.api as smf

from regtabletotext import prettify_result

In [2]:
crspdb = sqlite3.connect(
  database="../data/crsp.db.sqlite"
)

compustatdb = sqlite3.connect(
    database="../data/compustat.db.sqlite"
)

db = sqlite3.connect(
    database="../data/db.sqlite"
)

crsp_monthly = (pd.read_sql_query(
    sql=("SELECT permno, gvkey, date, ret_excess, mktcap, "
         "mktcap_lag, exchange FROM crsp_monthly"),
    con=crspdb,
    parse_dates={"date"})
  .dropna()
)

compustat = (pd.read_sql_query(
    sql="SELECT gvkey, datadate, be, op, inv FROM compustat",
    con=compustatdb,
    parse_dates={"datadate"})
  .dropna()
)

factors_ff3_monthly = pd.read_sql_query(
  sql="SELECT date, smb, hml FROM factors_ff3_monthly",
  con=db,
  parse_dates={"date"}
)

factors_ff5_monthly = pd.read_sql_query(
  sql="SELECT date, smb, hml, rmw, cma FROM factors_ff5_monthly",
  con=db,
  parse_dates={"date"}
)

DatabaseError: Execution failed on sql 'SELECT permno, gvkey, date, ret_excess, mktcap, mktcap_lag, exchange FROM crsp_monthly': no such column: gvkey